# SPDX-FileCopyrightText: 2019 ash contributors <https://github.com/ash-project/ash/graphs.contributors>
#
# SPDX-License-Identifier: MIT

name: Ash CI
on:
  push:
    tags:
      - "v*"
    branches: [main, "3.0"]
  pull_request:
    branches: [main, "3.0"]
  workflow_dispatch:
permissions:
  contents: read
jobs:
  ash-ci:
    strategy:
      matrix:
        sat_solver: ["SimpleSat", "Picosat"]
    uses: ./.github/workflows/ash-ci.yml
    secrets:
      HEX_API_KEY: ${{ secrets.HEX_API_KEY }}
    permissions:
      contents: write
      pages: write
      id-token: write
      security-events: write
    with:
      sat-solver: ${{ matrix.sat_solver }}
      igniter-upgrade: ${{matrix.sat_solver == 'Picosat'}}
      publish-docs: ${{matrix.sat_solver == 'Picosat'}}
      release: ${{matrix.sat_solver == 'Picosat'}}
      reuse: true
