# SPDX-FileCopyrightText: 2019 ash contributors <https://github.com/ash-project/ash/graphs.contributors>
#
# SPDX-License-Identifier: MIT

name: Test Subprojects
on:
  push:
    tags:
      - "v*"
    branches: [main, "3.0"]
permissions:
  contents: read
jobs:
  test-subprojects:
    runs-on: ubuntu-latest
    name: Subproject ${{matrix.project.org}}/${{matrix.project.name}} - OTP ${{matrix.otp}} / Elixir ${{matrix.elixir}}
    strategy:
      fail-fast: false
      matrix:
        project: [
            {
              org: "ash-project",
              name: "ash_postgres",
              migrate: true,
              migrate_tenants: true,
              generate_migrations: true,
            },
            { org: "ash-project", name: "ash_csv" },
            { org: "ash-project", name: "ash_double_entry", migrate: true },
            { org: "ash-project", name: "ash_money" },
            { org: "ash-project", name: "ash_graphql" },
            { org: "ash-project", name: "ash_json_api" },
            { org: "ash-project", name: "ash_phoenix" },
            { org: "ash-project", name: "ash_admin" },
            { org: "ash-project", name: "ash_archival", migrate: true },
            { org: "ash-project", name: "ash_state_machine" },
            { org: "ash-project", name: "ash_appsignal" },
            { org: "ash-project", name: "ash_oban", migrate: true },
            { org: "ash-project", name: "ash_typescript" },
            {
              org: "ash-project",
              name: "ash_sqlite",
              migrate: true,

              generate_migrations: true,
            },
            { org: "ash-project", name: "ash_paper_trail" },
            { org: "team-alembic", name: "ash_authentication" },
            { org: "team-alembic", name: "ash_authentication_phoenix" },
            # { org: "sevenseacat", name: "tunez", ref: "end-of-chapter-8" }
          ]
        # todo: add 28 here when its available
        otp: ["27.1.2"]
        elixir: ["1.18.4"]
    services:
      pg:
        image: postgres:16
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: postgres
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5
        ports: ["5432:5432"]
    env:
      ASH_CI: true
      ASH_VERSION: local
      # data layers should be tested against main of `ash_sql`
      ASH_SQL_VERSION: main
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@f4a75cfd619ee5ce8d5b864b0d183aff3c69b55a # v2.13.1
        with:
          egress-policy: audit

      - run: sudo apt-get install --yes erlang-dev
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          repository: ${{matrix.project.org}}/${{matrix.project.name}}
          path: ${{matrix.project.name}}
          ref: ${{matrix.project.ref}}
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          repository: ash-project/ash
          path: ash
      - uses: erlef/setup-beam@e6d7c94229049569db56a7ad5a540c051a010af9 # v1.20.4
        with:
          otp-version: ${{matrix.otp}}
          elixir-version: ${{matrix.elixir}}
      - uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        id: cache-deps
        with:
          path: ${{matrix.project.name}}/deps
          key: ${{matrix.project.name}}-otp-${{matrix.otp}}-elixir-${{matrix.elixir}}-deps-2-${{ hashFiles('config/**/*.exs') }}-${{ hashFiles(format('{0}{1}', github.workspace, '/ash/mix.lock')) }}
          restore-keys: ${{matrix.project.name}}-otp-${{matrix.otp}}-elixir-${{matrix.elixir}}-deps-2-${{ hashFiles('config/**/*.exs') }}-
      - uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        id: cache-build
        with:
          path: ${{matrix.project.name}}/_build
          key: ${{matrix.project.name}}-otp-${{matrix.otp}}-elixir-${{matrix.elixir}}-build-3-${{ hashFiles('config/**/*.exs') }}-${{ hashFiles(format('{0}{1}', github.workspace, '/ash/mix.lock')) }}
          restore-keys: ${{matrix.project.name}}-otp-${{matrix.otp}}-elixir-${{matrix.elixir}}-build-3-${{ hashFiles('config/**/*.exs') }}-
      - name: mix deps.get inside ./${{matrix.project.name}}
        run: mix deps.get
        working-directory: ./${{matrix.project.name}}
      - run: mix test.create
        if: ${{matrix.project.migrate}}
        working-directory: ./${{matrix.project.name}}
      - run: mix test.migrate
        if: ${{matrix.project.migrate}}
        working-directory: ./${{matrix.project.name}}
      - run: mix test.migrate_tenants
        if: ${{matrix.project.migrate_tenants}}
        working-directory: ./${{matrix.project.name}}
      - name: mix compile --force --warnings-as-errors inside ./${{matrix.project.name}}
        run: mix compile --force --warnings-as-errors
        env:
          MIX_ENV: test
        working-directory: ./${{matrix.project.name}}
      - name: mix test inside ./${{matrix.project.name}}
        run: mix test
        working-directory: ./${{matrix.project.name}}
      - name: test.generate_migrations --check
        run: mix test.generate_migrations --check
        working-directory: ./${{matrix.project.name}}
        if: ${{matrix.project.generate_migrations}}
